* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 65%;
  color: white;
  font-size: 60px;
  text-align: center;
  font-size: 600%;
}

h2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 80%;
  color: azure;
  font-size: 600%;
}

nav img{
  width: 5vw;
}

.img_background{
width: 100%;
}

.textContainer {
  position: absolute;
  width: 300px;
  right: 10%;
  top: 40%;
  font-size: 15px;

}

.jva {
  color: black;
  font-size: 30px;
}

.php1 {
  color: black;
  top: 30%;

}

.pphp1 {
  position: absolute;
  width: 400px;
  right: 10%;
  top: 40%;
  font-size: 15px;
}

.pphp2 {
  position: absolute;
  width: 400px;
  right: 10%;
  top: 55%;
  font-size: 15px;
}

.phpimg1 {
 top: 35%;
 position: absolute; 

}

.javah1 {
  color: white;
  font-size: 65px;
  top: 30%;
}

.javah2 {
color: white;
font-size: 35px;
top: 48%;
left: 15%;
}

.javah3{
font-size: 35px;
color: yellow;
top: 48%;
left: 25%;
}

.javahp1{
  color: white;
}

.js-container {
  background-color: black;
  height: 100vh;
}


.phph2{
font-size: 30px;
color: black;
top: 40%;
left: 30%;

}
.pph2{
  color: black;
  top: 38%;
  font-size: 30px;
  left: 72%;
}








